.header {
    border-bottom: 1px solid #ddd;
}

.sidebar {
    width: 15%;
    min-width: 120px;
    position: sticky;
    margin: 5px;
    top: 62px;
    align-self: flex-start;
    align-items: start;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar a {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
}

.sidebar a:hover {
    background-color: rgb(244, 245, 246);
}

.post {
    align-items: flex-start;
    border-bottom: 1px solid #eee;
}

.post:hover {
    background-color: rgb(245, 246, 247);
}

.post a {
    color: #14c;
    text-decoration: none;
}

.post a:visited {
    color: #14c;
    
}

a.active {
    background-color: rgb(244, 245, 246);
}

.post img {
    padding-left: 10px;
    padding-right: 10px;
}

.post p {
    margin-bottom: 0.2rem;
}

.InputField {
    margin-top: 15px;
    margin-bottom: 15px;
}
